{% extends "@App/base.html.twig" %}

{% block content %}
    <h1 class="display-4">CV</h1>
<div style="margin-top: 50px">
    <h2>{{ 'formation.title'|trans }}</h2>
    <div style="margin-top: 30px">
        {% for formation in formations %}
            <h3>{{ formation.title }}</h3>
            <p><span>{{ 'formation.ecole'|trans }}</span>{{ formation.school }}</p>
            <p><span>{{ 'formation.date'|trans }}</span>{{ formation.date.format("D M Y") }}</p>
        {% endfor %}
    </div>
</div>
<div style="margin-top: 50px">
    <h2>{{ 'experience.title'|trans }}</h2>
    <div style="margin-top: 30px">
        {% for experience in experiences %}
            <h3>{{ experience.title }}</h3>
            <p><span>{{ 'experience.entreprise'|trans }}</span>{{ experience.entreprise }}</p>
            <p><span>{{ 'experience.start_date'|trans }}</span>{{ experience.startDate.format("D M Y") }}</p>
            <p><span>{{ 'experience.end_date'|trans }}</span>{{ experience.endDate.format("D M Y") }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}